<form
  class="form"
  (submit)="addPost($event)"
>
  <h2 class="form__heading">Введите текст</h2>
  <input
    class="form__input form__input_type_title"
    type="text"
    name="title"
    placeholder="введите заголовок"
    [(ngModel)]='title'
    #titleInput
  >

  <input
    class="form__input form__input_type_text"
    type="text"
    name="text"
    placeholder="введите текст"
    [(ngModel)]='text'
  >

  <button
  class="button"
>Добавить пост</button>

<button
  class="button"
  (click)="focusTitle()"
>Фокус</button>

</form>


